[Unit]
Description=NestJS Base Project
Documentation=https://github.com/ItsJustMeChris/NestJS-Base-Project
After=network.target

[Service]
Environment=JWT_SECRET=YOUR JWT_SECRET HERE
Environment=JWT_SECRET_REFRESH=YOUR JWT_SECRET_REFRESH HERE
Environment=JWT_SECRET_2FA=YOUR JWT_SECRET_2FA HERE
Environment=SSL_KEY=YOUR SSL_KEY HERE
Environment=SSL_CERT=YOUR SSL_CERT HERE
Environment=HTTPS=false
Environment=HTTP2=false
Environment=SERVER_PORT=3000
Environment=DB_HOST=YOUR DB_HOST HERE
Environment=DB_NAME=YOUR DB_NAME HERE
Environment=DB_USER=YOUR DB_USER HERE
Environment=DB_PASS=YOUR DB_PASS HERE
Environment=DB_PORT=YOUR DB_PORT HERE
Environment=DB_SYNC=true
Environment=DB_MIGRATE=false

Environment=NODE_ENV=production

Type=simple
User=root
WorkingDirectory=PATH TO PROJECT
ExecStart=npm run start
Restart=on-failure

[Install]
WantedBy=multi-user.target
